
.parallax-bg {
  background-image: url('../public/tecno-bg.gif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(-100%);
}